@import url('https://fonts.googleapis.com/css?family=Poppins&effect=neon');
@import url('https://fonts.googleapis.com/css?family=Poppins&effect=fire');

html,  body{  
   font-family: Helvetica, sans-serif;
   font-size: 100%;

}

span {
   color: #64C4BC;
   font-weight: bold;
}


h2 {
   padding-bottom: 0.5em;
}


ul {
   list-style: none;
}


.area {
   background-color: #282626;
   padding-bottom: 1rem;
}

header {
   grid-area: B;
   margin-bottom: 2rem;
   justify-content: space-between;
   background-color: black;
   padding: 0 0 1rem 1rem;
   margin-bottom: 2rem;
   padding-bottom: 0.5em;
   background-color: #282626;
   background-image: url(media/Esperancita2.png);
   background-size: cover;
}
header span {
   color: white;
   font-weight: bold;
   font-size: 2em;
   margin-top: 2em;
}

header h1 {
   font-size: 3em;
   margin-bottom: 3em;
   padding-left: 1.5em;
   text-align: left;

}

header h3 {
   font-size: 1.0rem;
   margin: 0;
   color: crimson;
}

.Resume {
   margin-top: 0;
   margin-bottom: 2rem;
   font-size: 1.5em;
}


.TopH2 {
   margin-bottom: 0;
   border-bottom: 1px solid black;
   padding-bottom: 0.5em;
   padding-left: 0.5em;
   padding-right: 0.5em;
   margin-left: 0;
   color: crimson;
}


main {
   grid-area: D;
   margin-bottom: 1rem;
   background-color: #fff;
}

main div {
   border-bottom: 1em solid white;
}

main div h2 {
   border-bottom: 1px solid black;
   margin-left: 0.5em;

}

main ul {
   margin-top: 0.5em;
   margin-bottom: 0.5em;
   padding-left: 1em;
   padding-right: 1em;
}

#Encuesta {
      width: 100%;
      padding-bottom: 0;
      border-bottom: 0;
   }

#Encuesta article {
   border-bottom: 1px solid black;
   margin-bottom: 2rem;
   }


.Faltantes h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h4 {
 font-size: 2rem;
 margin: 1rem;
}

.Faltantes h4 {
 color: red;
 font-size: 2rem;
 margin: 1rem;
}


div.Votantes {
   display: flex;
   border-bottom: 0;
}

.Votantes h4 {
   flex: 0 0 0;
   width: 10%;
   padding: 0 0.8em;
}

.Votantes h4:first-child {
   padding-left: 0;
}

.ProgressBar {
   background-color: #000;
   margin-bottom: 2rem;
   border-bottom: 0;
}

.ProgressBar div {
   height:2em;
   background-color: orangered; /*#64C4BC*/
   margin-top: 0;
   border-bottom: 0;

}

.P00 {
  width:00%;
}

.P10 {
   width:10%;
}

.P20 {
   width:20%;
}


.P30 {
   width:30%;
}

.P40 {
   width:40%;
}

.P50 {
   width:50%;
}

.P60 {
   width:60%;
}

.P70 {
   width:70%;
}

.P80 {
   width:80%;
}

.P90 {
   width:90%;
}

.P100 {
   width:100%;
}

footer {
   justify-self: center;
   display: flex;
   font-size: 1.5em;
}

@media all and (max-width: 980px) {

   html {
      width: 100%;
      overflow-x: hidden;
      margin: 0;
      font-family: Helvetica, sans-serif;
      font-size: 100%;
      text-size-adjust: none;
   }


   body {
      margin: 0;
      width: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
   }

   span {
      font-size: 3rem;
   }

   header {
      display: flex;
      flex-flow: column;
      border-bottom: 0;
      padding-bottom: 2em;
   }

   header h1 {
      margin-top: 1.3em;
      margin-left: 1.5rem;
      margin-bottom: 1em;   
      font-size: 4.2em;
   }

   header span {
      font-size: 4.5rem;
   } 


   header h2 {
      font-size: 2.8em;
      margin-left: 1.5rem;
      margin-bottom: 0;
   }

   
   header div {
      display: flex;
      flex-flow: row wrap; 
      justify-content: space-around;
   } 

   header p {
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 2.5rem;
   }

   .HeaderP {
      margin-bottom: 0.9em;
   }


.TopH2 {
      font-size: 3.0rem;
   }


main {
     margin-bottom: 2rem;
     font-size: 1.5em;
   }

main div {
   border-bottom: 1em solid white;
}   
      
main h2 {
      padding-left: 1em;
   }

header h3 {
   font-size: 2.0rem;
   margin: 0 0 0 1.5rem;
   color:: crimson;
}

.Candidato {
   margin-top: 0;
   margin-bottom: 1rem;
   font-weight: bold;
   }


.Votantes {
   margin-top: 0;
   margin-bottom: 0;
   padding-top: 0;
   padding-bottom: 0;

}

.Votantes li {
   display: inline;
   font-size: 2rem;
}


   footer {
     display: flex; /*flex*/
     width: 100%;
     align-self: flex-start;
     flex-direction: column;
     justify-content: flex-start;
     font-size: 2rem;
     background-color: #EEEEEE;
   }

   footer h3 {
      margin-bottom: 1rem;
   }

  footer h5 {
     font-size: 2rem;
     margin-top: 0;
  } 

.Hidden {
   display: none;
}


  } 
