@import url('https://fonts.googleapis.com/css?family=Poppins&effect=neon');
@import url('https://fonts.googleapis.com/css?family=Poppins&effect=fire');

   html, body {
      margin: 0;
      width: 100%;
   }   

   html {
      overflow-x: hidden;
      font-family: Helvetica, sans-serif;
      font-size: 100%;
      text-size-adjust: none;
   }


   body {
      display: flex;
      flex-flow: column;
      justify-content: center;
   }


   header {
      display: flex;
      flex-flow: column;
      border-bottom: 0;
      padding-bottom: 2em;
      background-image: url(media/Esperancita2.png);
      height: 400px;
      flex-grow: 3;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
   }

   h1 {
      padding-top: 12%;
      padding-left: 18%;
      
   }


   span {
      color: #64C4BC;
      font-weight: bold;
      font-size: 4.3rem;
   }

   h2 {
      padding-top: 4%;
      padding-left: 6%;
      font-size: 2.4rem;
      
   }

